fal-queue-workflow.json
{
    "name": "Simplified AAC T-Shirt Design Workflow",
    "flow": [
      {
        "id": 1,
        "module": "airtable:TriggerWatchRecords",
        "version": 3,
        "parameters": {
          "__IMTCONN__": 4085441,
          "base": "applwPKN2KZFZ9JfW",
          "useColumnId": false,
          "table": "tblvIGksraXr9MHlJ",
          "config": {
            "triggerField": "Created",
            "labelField": "Name"
          },
          "maxRecords": 1,
          "view": "",
          "formula": ""
        },
        "mapper": {},
        "metadata": {
          "notes": "Triggers when a new design is added to Airtable"
        }
      },
      {
        "id": 2,
        "module": "openai-gpt-3:CreateCompletion",
        "version": 1,
        "parameters": {
          "__IMTCONN__": 1816168,
          "model": "gpt-4",
          "top_p": "1",
          "select": "chat",
          "messages": [
            {
              "role": "user",
              "content": "Generate a detailed prompt for fal.ai to create a t-shirt design based on this concept: {{1.Name}}."
            }
          ],
          "max_tokens": "500",
          "temperature": "0.8",
          "response_format": "text"
        },
        "metadata": {
          "notes": "Generates a design prompt for fal.ai"
        }
      },
      {
        "id": 3,
        "module": "http:Action",
        "version": 3,
        "parameters": {},
        "mapper": {
          "url": "https://queue.fal.run/madezmedia/t-shirt-design-maker",
          "method": "POST",
          "headers": {
            "Authorization": "Bearer {{$env.FAL_API_KEY}}",
            "Content-Type": "application/json"
          },
          "body": {
            "prompt": "{{2.choices[].message.content}}",
            "transparent": true,
            "width": 4500,
            "height": 5400
          },
          "bodyType": "json",
          "followRedirects": true,
          "rejectUnauthorized": true,
          "responseType": "json"
        },
        "metadata": {
          "notes": "Submits design request to fal.ai queue system"
        }
      },
      {
        "id": 4,
        "module": "variables:Set",
        "version": 1,
        "parameters": {},
        "mapper": {
          "sourceType": "jsonpath",
          "variableName": "request_id",
          "sourceData": "{{3.body.request_id}}"
        },
        "metadata": {
          "notes": "Stores the request ID for status checks"
        }
      },
      {
        "id": 5,
        "module": "http:Action",
        "version": 3,
        "parameters": {},
        "mapper": {
          "url": "https://queue.fal.run/madezmedia/t-shirt-design-maker/requests/{{$getVar('request_id')}}/status",
          "method": "GET",
          "headers": {
            "Authorization": "Bearer {{$env.FAL_API_KEY}}"
          },
          "bodyType": "raw",
          "followRedirects": true,
          "rejectUnauthorized": true,
          "responseType": "json"
        },
        "metadata": {
          "notes": "Checks status of the design request"
        }
      },
      {
        "id": 6,
        "module": "http:Action",
        "version": 3,
        "parameters": {},
        "mapper": {
          "url": "https://queue.fal.run/madezmedia/t-shirt-design-maker/requests/{{$getVar('request_id')}}",
          "method": "GET",
          "headers": {
            "Authorization": "Bearer {{$env.FAL_API_KEY}}"
          },
          "bodyType": "raw",
          "followRedirects": true,
          "rejectUnauthorized": true,
          "responseType": "json"
        },
        "metadata": {
          "notes": "Retrieves the final result once completed"
        }
      },
      {
        "id": 7,
        "module": "printify:uploadAnImage",
        "version": 1,
        "parameters": {
          "__IMTCONN__": 4088179
        },
        "mapper": {
          "url": "{{6.body.result.image_url}}",
          "type": "url",
          "fileName": "Generated T-Shirt Design"
        },
        "metadata": {
          "notes": "Uploads the generated image to Printify"
        }
      },
      {
        "id": 8,
        "module": "printify:createAProduct",
        "version": 1,
        "parameters": {
          "__IMTCONN__": 4088179
        },
        "mapper": {
          "tags": [
            "AAC",
            "Autism Acceptance"
          ],
          "title": "T-Shirt Design: {{1.Name}}",
          "shopId": 21245816,
          "description": "T-Shirt design based on the concept of AAC and autism acceptance.",
          "variants": [
            {
              "id": 17391,
              "price": "24.99",
              "is_enabled": true
            }
          ],
          "print_areas": [
            {
              "variant_ids": [
                17391
              ],
              "placeholders": [
                {
                  "images": [
                    {
                      "x": "0.5",
                      "y": "0.5",
                      "id": "{{7.id}}",
                      "angle": "0",
                      "scale": "1.0"
                    }
                  ],
                  "position": "front"
                }
              ]
            }
          ],
          "blueprint_id": 5,
          "print_details": {
            "print_on_side": "regular"
          },
          "print_provider_id": 29
        },
        "metadata": {
          "notes": "Creates a product in Printify"
        }
      },
      {
        "id": 9,
        "module": "printify:publishAProduct",
        "version": 1,
        "parameters": {
          "__IMTCONN__": 4088179
        },
        "mapper": {
          "product_id": "{{8.id}}",
          "shop_id": "21245816"
        },
        "metadata": {
          "notes": "Publishes the product to Printify shop"
        }
      }
    ],
    "metadata": {
      "instant": false,
      "version": 1,
      "scenario": {
        "roundtrips": 1,
        "maxErrors": 3,
        "autoCommit": true,
        "sequential": false,
        "freshVariables": false
      },
      "designer": {
        "orphans": []
      },
      "zone": "us1.make.com",
      "notes": [
        {
          "content": "This simplified workflow focuses on generating designs with fal.ai and uploading products to Printify without error control.",
          "module": null,
          "x": 0,
          "y": -50
        }
      ]
    }
  }